fieldset { padding: 0px; margin-bottom: 10px; clear: both; border: 0; }

form p { margin: 0px 75px 15px 15px; clear: both; line-height: 1.5em; border: 0; text-align: left; }

legend { padding: 0px; margin: 0px; font-weight: bold; font-size: 1.2em; color: #7A5649; }

label { padding-top: 10px; display: inline-block; width: 120px; vertical-align: top; }

fieldset ol { margin: 0; padding: 15px; }
fieldset li { list-style: none; padding: 5px; margin: 0; }

input[type=text], input[type=password] { padding: 4px; border: 1px solid #ccc; background-color: #fff; font-size: 1.0em; }

select, textarea { padding: 4px; border: 1px solid #ccc; background-color: #fff; }

input[type=text].selected, input[type=password].selected { background-color: #d9ffcc; border: 1px solid #2eb800; }

select.selected, textarea.selected { background-color: #d9ffcc; border: 1px solid #2eb800; }

.inline-errors { display: inline; }
.inline-errors label { color: red; background-image: url('/images/bullet_red.png'); background-repeat: no-repeat; background-position: right; }

a.button:hover { font-style: normal; }

button, input[type=submit]{
	display: inline-block; 
	vertical-align: baseline; 
	margin-right: 0.3em; 
	border-top: 1px solid #ccc; 
	border-left: 1px solid #ccc; 
	border-bottom: 1px solid #aaa; 
	border-right: 1px solid #aaa; 
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; 
	line-height: 14px; 
	text-decoration: none; 
	color: #565656; 
	width: auto; 
	overflow: visible; 
	cursor: pointer;
	padding: 4px 12px 4px 30px; 
	width: auto; 
	text-align: right; 
}
button.add, input[type=submit].add{
	background: #e3e3e3 url('/Content/images/tick.png') no-repeat 10% 50%;
}
button.remove, input[type=submit].remove{
	background: #e3e3e3 url('/Content/images/cross.png') no-repeat 10% 50%;
}
button:active, input[type=submit]:active {
	padding-top: 5px;
  border-top: 1px solid #aaa; 
	border-left: 1px solid #aaa; 
	border-bottom: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
}
button:hover, input[type=submit]:hover{
	background-color: #eee; 
}