header{

}
header h1{
  color: #ddd;
  width: 150px;
	text-shadow: 1px 1px 1px #000;
	background: #005B00 url(/images/flag.png) 45% 30% no-repeat; 
	padding: 100px 25px 15px; 
	margin: 0px 70px 25px 70px;
	border-bottom: 1px solid #002700;
	border-right: 1px solid #002700;
	-moz-border-radius-bottomright: 10px; 
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-right-radius: 10px; 
	-webkit-border-bottom-left-radius: 10px;
}
section#info{
	position: fixed;
	top: 0;
  left: 0;
	height: 100%;
	width: 30%;
	background-repeat: repeat-y;
	background-position-x: right;
}
section#content{
	float: left;
	margin-top: 50px;
	margin-left: 35%;
	clear: both;
	width: 60%;
	background-repeat: repeat-y;
	ba
}
section#messages{
	display: inline-block;
	width: 100%;
	background-color: #F0FFA4;
	border: 2px solid #EED957;
	border-top-width: 0;
	-moz-border-radius-bottomright: 10px; 
	-moz-border-radius-bottomleft: 10px; 
	-webkit-border-bottom-right-radius: 10px; 
	-webkit-border-bottom-left-radius: 10px;
}
section#messages ul{
	padding: 8px;
}
section#messages ul li{
	list-style-type: none;
	margin-left: 50px;
}
section#messages ul.notice{
	background-repeat: no-repeat;
	background-image: url(notice.png);
}
section#messages ul.error{
	background-repeat: no-repeat;
	background-image: url(warning.png);
}
aside{
	padding: 1.5em;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #666;
	width: 100%;
}

nav ol{
	text-align: right;
	font-size: larger;
	padding: 0; margin: 0;
}
nav ol li{
	padding: 0; 
	margin-left: 176px;
  margin-right: 80px;
	list-style-type: none;
}
nav ol li a{
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	display: block;
}
nav ol li a:hover{
	text-decoration: underline;
	background-color: #fff;
}

nav ol li.home a:hover { background: url(/images/Home_24x24.png) no-repeat;}
nav ol li.profile a:hover { background: url(/images/profile_24x24.png) no-repeat;}
nav ol li.history a:hover { background: url(/images/Home_24x24.png) no-repeat;}
nav ol li.search a:hover { background: url(/images/search_24x24.png) no-repeat;}
nav ol li.logout a:hover { background: url(/images/logout_24x24.png) no-repeat;}
#gravatar{
	position: fixed;
	left: 70px;
	top: 160px;
	margin: 8px;
	border: 1px solid #bbb;
}
#bio{
	margin: 0 0 0 70px;
}
#handicap{
	position: fixed;
	left: 75px;
	top: 270px;
	font-size: 3em;
}
#handicap a{
	text-decoration: none;
	color: inherit;
}
#handicap a:hover{
	text-decoration: none;
}

