body
  background-color: #333333
  font-size: 10pt
  font-family: Arial
  margin: 0
  padding: 0
  color: #333333


#page
  width: 900px
  margin: auto
  padding: auto
  background-image: url(/images/page.png)


#page2
  width: 900px
  background-repeat: no-repeat


#header
  clear: both
  width: 850px
  height: 72px
  background-image: url(/images/header.png)
  padding-top: 30px
  padding-left: 50px


#menulinks
  clear: both
  width: 875px
  height: 42px
  padding-left: 25px
  background-image: url(/images/menulinks.png)


* html #menulinks a
  float: left
  text-decoration: none

  span
    float: left
    text-decoration: none


#menulinks a
  padding-left: 11px
  height: 35px
  background-image: none
  display: block
  color: #FFFFFF
  text-decoration: none
  float: left
  font-size: 14px
  font-weight: bold
  margin-right: 3px
  margin-left: 3px

  span
    padding-left: 8px
    padding-right: 20px
    padding-top: 9px
    height: 26px
    display: block
    background-image: none
    text-decoration: none
    cursor: pointer

  &:hover, &.active
    background-image: url(/images/menuhover.png)
    background-position: top left
    text-decoration: none
    color: #555555

  &:hover span, &.active span
    background: url(/images/menuhoverright.png) right top no-repeat
    text-decoration: none
    color: #555555


#mainarea
  width: 860px
  clear: both
  padding-left: 40px
  


#contentarea
  width: 560px
  padding-right: 30px
  float: left
  line-height: 14pt
  padding-bottom: 10px


#sidebar
  float: left
  width: 235px
  line-height: 14pt


#footer
  width: 900px
  clear: both
  height: 30px
  padding-top: 20px
  text-align: center
  line-height: 14pt
  background-image: url(/images/footer.png)
  background-repeat: no-repeat
  color: #FFFFFF

  a
    color: #FFFFFF


h1
  font-size: 20pt
  color: #FFFFFF
  margin: 0

  a
    color: #FFFFFF


h2
  font-size: 12pt
  color: #333333
  padding-top: 6px


.description
  font-size: 14pt
  color: #FFFFCC
  margin: 0
  padding-left: 5px


a
  color: #555555
  text-decoration: none

  &:hover
    text-decoration: underline
