- form.inputs do
  =form.input :slope,   :input_html => { :size => 18 }
  =form.input :rating,  :input_html => { :size => 18 }
  =form.input :score,   :input_html => { :size => 18 }
  =form.input :description, :input_html => { :size => '80x4' }