- if user.rounds.empty?
  %p No handicap
- else
  %span.handicap= user.handicap
  = 'based on the lowest ' + user.num_rounds_to_average.to_s + ' handicap differentials from your most recent ' + user.recent_rounds.size.to_s + ' rounds'