= render :partial => 'users/bio', :locals => { :user => current_user }
.handicap
  - if current_user.rounds.empty?
    %a N/A
  - else
    %a{ :href => "#", :title => "Handicap" }
      = current_user.handicap