%h2 Welcome to Handicappr
%p The easy way to enter your scores and calculate your handicap
- content_for :sidebar do
  %h3 4 Easy Steps!
  %ul
    %li
      %a{:href => 'signup'} Sign up
    %li Activate your account
    %li Play golf
    %li Start entering scores
      